.player-cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 50px;
	width: calc(100% + 60px);

	> li {
		flex: 0 0 100px;
		margin-bottom: 1rem;
		margin-left: -60px;
	}

	&__button {
		display: block;
		width: 100%;
	}
}
